@import "@material/theme/color-palette";
@import "./theme";

// Svelte Colors!
$mdc-theme-primary: $color-primary40;
$mdc-theme-secondary: $color-secondary50;
// Other Svelte color: #40b3ff

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;