$color-primary10: #C4D3CE;
$color-primary20: #65B294;
$color-primary30: #3E906B;
$color-primary40: #185032;
$color-secondary50: #C6755F;
$color-neutral5: #E9EBF0;
$color-neutral10: #C5C7CB;
$color-neutral20: #A0A2A6;
$color-neutral30: #7C7E81;
$color-neutral40: #5F6163;
$color-neutral50: #424445;
$color-neutral60: #242627;
$color-neutral70: #070909;
$font-size-h1: 96px;
$font-size-h2: 72px;
$font-size-h3: 48px;
$font-size-h4: 34px;
$font-size-h5: 24px;
$font-size-h6: 20px;
$font-size-subtitle1: 16px;
$font-size-subtitle2: 14px;
$font-size-body1: 16px;
$font-size-body2: 14px;
$font-size-button: 14px;
$font-size-caption: 12px;
$breakpoint-large: 1264px;
